html, body {
  height: 100%;
  /* overflow: hidden; Prevent scrolling on the entire page */
}

@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-5px);
    }
    50% {
        transform: translateX(5px);
    }
    75% {
        transform: translateX(-5px);
    }
}

.hover\:animate-shake:hover {
    animation: shake 0.5s ease-in-out;
}

@keyframes spin-border {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes clockwise {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(50px, 0);
    }
    50% {
        transform: translate(50px, 50px);
    }
    75% {
        transform: translate(0, 50px);
    }
    100% {
        transform: translate(0, 0);
    }
}

@keyframes serial-light {
  0% {
      border-color: #FF0000 #00FF00 #0000FF transparent; /* Red, Green */
  }
  25% {
      border-color: transparent #FF0000 #00FF00 #0000FF #FF0000; /* Green, Blue */
  }
  50% {
      border-color: #FF0000 transparent #0000FF #FFFF00; /* Blue, Yellow */
  }
  75% {
      border-color: #FF00FF #00FF00 transparent #FFFF00; /* Magenta, Yellow */
  }
  100% {
      border-color: #FF0000 #00FF00 #0000FF transparent; /* Red, Green */
  }
}

.animate-spin-border {
    animation: spin-border 2s linear infinite;
}

.animate-clockwise {
    animation: clockwise 3s linear infinite;
}

.animate-serial-light {
    animation: serial-light 2s linear infinite;
}
